# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Android build dosyaları
android/build/
android/app/build/
android/.gradle/
android/app/*.keystore

# iOS build dosyaları
ios/build/

# VS Code dosyaları
.vscode/
*.code-workspace
